{% extends "layout/base.twig" %}

{% block header %}
    {% embed 'layout/header.twig' with { back : '#back-url' }%}

        {% block filters %}

            {% if filters is defined %}
                {% include 'components/filters.twig' with { css : 'header__filters', search_results : true } %}
            {% endif %}

        {% endblock %}

    {% endembed %}
{% endblock %}

{% block content %}

    <section class="content__section section-search-results">
        <div class="viewport">
            <ul class="projects__list list--filtered list--ui">

                {% for project in search_results %}

                    {% include 'listing/item-project.twig' with { active : true } %}

                {% endfor %}

            </ul>
        </div>
    </section>

{% endblock %}


