<aside class="modal modal--{{ name ? name : 'default' }}" data-modal="{{ name ? name : 'default' }}">

    {% block modal_layout %}
        <div class="modal__layout">

            {% block modal_header %}
                <div class="modal__header">

                    <h2 class="modal__title">{% block modal_title %}Modal title{% endblock %}</h2>

                    <a href="#" class="modal__ui ui--close do-toggle-modal" data-modal-target="{{ name ? name : 'default' }}">Close</a>

                </div>
            {% endblock %}


            <div class="modal__content">
                {% block modal_content %}

                    <p>Modal content placeholder</p>

                {% endblock %}
            </div>

            {% block modal_footer %}
                <div class="modal__footer">
                    
                </div>
            {% endblock %}

        </div><!-- /modal__layout -->
    {% endblock %}

</aside>