.ui-ico {
    width: 4rem;
    height: 4rem;
    svg {
        width: 100%;
        height: auto;
    }
}

.ui-message {
    p {
        @extend %generic-header;
        font-size: 1.5rem;
        color: $silver;

        &:last-child {
            margin: 0;
        }
    }
}

.ui-zoom {
    position: relative;
    display: grid;

    > * {
        grid-column: 1;
        grid-row: 1;

        will-change: opacity;
        transition: opacity .2s ease-in-out;				
    }

    > .ui-ico {
        align-self: center;
        justify-self: center;
        opacity: 0;
        transition: all .1s ease-in-out;

    }	

    @media (hover: hover) {
        &:hover {
            picture,
            > img {
                opacity: .25;
            }
            > .ui-ico {
                opacity: .5;

                &:hover {
                    transform: scale(.95);
                    opacity: 1;
                }
            }
        }
    }

}

.ui-audio {
    display: flex;
    justify-content: center;
    li {
        
        @extend %generic-header;
        font-size: 1.5rem;
        margin: 0 .25rem;

        a {
            display: block;
        }

        &.item--active {
            a {
                color: $white;
            }
        }
    }
}